body{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #ffffff;
	background-size:100% 56.25%;
}

.wrapper{
	top: 0;
	background-color:#FF9400;
	width: 100%;
	margin-left: auto;
    margin-right: auto;

}

.header{
	position: fixed;
	top: 0;
	right: inherit;
	height:10%;
	max-height: 75px;
	min-height: 75px;
	background-color:#23272a;
	z-index: 8;
	width:100%;
	overflow: hidden;
}
.main{
	margin-top:75px;
	width: 100%;
	background-color: #2c2f33;
	height: 80%;
	min-height:100vh;
	z-index: 2;
}
.footer{
	width: 100%;
	background-color: #23272a;
}
.menu-btn{
	cursor:pointer;
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	top:50%;margin-top: -25px;
	right: 10px;

}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{

	position: absolute;
	top: 50%;margin-top: -1px;
	left: 50%;margin-left: -10px;
	width: 20px;
	height: 2px;
	background-color: #000;
}
.menu-btn span::before{
	content: '';
	transform: translateY(-5px);
}
.menu-btn span::after{
	transform: translateY(5px);
	content: '';
}


.menu-btn:hover{
	transition: 0.2s;
	transform: scale(1.1);
}
#logo{
	position: relative;
    align-content: center;
    padding-top: 225px;
    padding-bottom: 225px;

    width: 100%;
}
#logo img  {
    background-image: url("../images/gray.jpg");
}
#logo a{
	background-color: #60636C;
	border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    position: absolute;               /* 2 */
    left: 50%;                         /* 3 */
    transform: translate(-50%, 0)
}
.message-block a{
	background-color: #60636C;
	border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    
}  

.text{
	position: relative;
	width: 100%;
	background-color: #383b40;
	padding-bottom: 10px;
	padding-top: 10px;
	height:410px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}
.otzivi{
	position: relative;
	width: 100%;
	background-color: darkslateblue;
	padding-bottom: 10px;
	padding-top: 10px;
	height:310px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	overflow: hidden;
}
.otziv{
	position: absolute;
	width: 100%;
	height:100%;
}
.otziv p{
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.otziv img{
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
}

.hate{
	position: relative;
	width: 100%;
	background-color: #383b40;
	padding-bottom: 10px;
	padding-top: 10px;
	height:410px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.message-block{
	position: absolute;
	background-color: #2c2f33;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	height:400px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;

}
.message-block div{

}

.message-block_header{
	font-size: medium;
	position: absolute;
	display: block;
	width: 100%;
	margin-top: auto;

	z-index: 2;
}
.sidemenu img{
	opacity:0.2;
	z-index:-1;
	position:absolute;
}

.links a{
	color:white;
	margin:12px;
}
.links{
	position:absolute;
	top:50%;
	transform: translate(0%,-50%);
	right:0;
}

#otziv_nav{
	position: absolute;
	height: 100%;
	width: 100%;
}
#otziv_nav ul{
	position: absolute;               /* 2 */
	left: 200px;
	transform: translate(-50%,0);
	z-index: 2;
}
#otziv_nav li{

	z-index: 3;
	font-size: 30px;
	display: inline;
	margin: 5px;
}
#otziv_nav span{
	cursor: pointer;
	content: "";
	position: absolute;
	z-index: 3;
	height: 100px;
	width: 50px;
	right: 50px;
	top: 50%;
	transform: translate(0,-50%);
}
#otziv_prev{
	left: 10px;
}
#otziv_prev img{
	transform: rotate(180deg);
}
#navigation{
	position: absolute;
	height: 100%;
	width: 100%;
}
#navigation ul{
	position: absolute;               /* 2 */
	left: 200px;
	transform: translate(-50%,0);
	z-index: 2;
}
#navigation li{

	z-index: 3;
	font-size: 30px;
	display: inline;
	margin: 5px;
}
#navigation span{
	cursor: pointer;
	content: "";
	position: absolute;
	z-index: 3;
	height: 100px;
	width: 50px;
	right: 50px;
	top: 50%;
	transform: translate(0,-50%);
}
#prev{
	left: 10px;
}

#prev img{
	transform: rotate(180deg);
}

.image_pointer{

}

.login{
	font-size: 14px;
	position: absolute;
	top: 50%; margin-top:-18px;
}
.login a{
	color: white;
	display: inline-block;

	margin: 10px;
}

.sidemenu{
	overflow:hidden;
	display:none;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 7;
	background-color: #60636C;
}	
.links a:hover{
	transform:translate(-10px);
	}

@media screen and (max-width: 1000px) {
	.message-block{

	}
}
@media screen and (max-width: 800px) {
	.text{
		height: 600px;
	}
}
@media screen and (max-width: 600px) {
	.otzivi{
		height: 360px;
	}
	.message-block{
		height: 650px;
	}
	.hate{
		height: 660px;
	}
	.text{
		height: 900px;
	}
	.sidemenu a{
	display:block;
	color:white;
	margin:20px;
	}

	.links{	
	transform: translate(0%,0%);
	top:0;	
	left:0;
	}
}